<div class="container mt-5">
    <div class="row d-flex align-items-center">
        <div class="col">
            <h2 class="text-center">Tabela de Lancamentos</h2>
            <div class="table-container" style="max-height: 600px; overflow-y: auto;">
                <table class="table mx-auto table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nome do Produto</th>
                            <th scope="col">Tipo de Movimento</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Data do Movimento</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lancamento of lancamentos">
                            <th scope="row">{{ lancamento.id }}</th>
                            <td>{{ lancamento.produtoId }}</td>
                            <td>{{ lancamento.tipoMovimento }}</td>
                            <td>{{ lancamento.quantidade }}</td>
                            <td>{{ lancamento.dataMovimento | date: 'dd/MM/yyyy' }}</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>