<div class="container mt-5">
    <div class="row d-flex align-items-center">
        <div class="col">
            <h2 class="text-center">Tabela de Lançamentos</h2>
            <div class="btnFiltro">
                <button type="button" class="btn btn-primary btn-sm" (click)="openFiltro(modalFiltroLog)">
                  Filtro
                </button>
              </div>
            <div class="table-container" style="max-height: 600px; overflow-y: auto;">
                <table class="table mx-auto table-bordered table-hover">
                    <thead>
                        <tr class="cabecalho">
                            <th scope="col" style="width: 5%;">ID</th>
                            <th scope="col" style="width: 5%;">ID do Produto</th>
                            <th scope="col" style="width: 15%;">Nome do Produto</th>
                            <th scope="col" style="width: 10%;">Tipo de Movimento</th>
                            <th scope="col" style="width: 5%;">Quantidade</th>
                            <th scope="col" style="width: 10%;">Data do Movimento</th>
                            <th scope="col" style="width: 5%;">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lancamento of lancamentos">
                            <th scope="row">{{ lancamento.id }}</th>
                            <td>{{ lancamento.produtoId }}</td>
                            <td>{{ lancamento.nomeProduto }}</td>
                            <td>{{ lancamento.tipoMovimento }}</td>
                            <td>{{ lancamento.quantidade }}</td>
                            <td>{{ lancamento.dataMovimento | date: 'dd/MM/yyyy' }}</td>
                            <td><button type="button" class="btn btn-danger btn-sm" (click)="openConfirmacao(confirma, lancamento.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                  class="bi bi-file-earmark-x-fill" viewBox="0 0 16 16">
                                  <path
                                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.854 7.146 8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708" />
                                </svg>
                                Remover
                              </button>
                            </td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  <ng-template #confirma let-modal>
    <div class="modal-confirma">
        <div class="modal-header">
            <h5 class="modal-title" id="modalExcluirLabel">Confirmar exclusão</h5>
            <button type="button" class="btn-close" (click)="modal.close('fechar')" aria-label="Fechar"></button>
        </div>
        <div class="modal-body">
            <p>Tem certeza que deseja excluir o lançamentos de ID: {{idLog}}</p>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary" (click)="modal.close('fechar')">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>
        </div>
    </div>
  </ng-template>

  <ng-template #modalFiltroLog let-modal>
    <div class="modal-header">
      <h1 class="modal-title fs-5">Filtro</h1>
      <button type="button" class="btn-close" (click)="modal.close('fechar')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="produtoId" class="col-form-label">ID do Produto:</label>
          <input type="number" class="form-control" id="nomeProduto" [(ngModel)]="filtroLog.ProdutoId" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
          <label for="tipomovimento" class="col-form-label">Nome do Produto:</label>
          <input type="text" class="form-control" id="tipomovimento" [(ngModel)]="filtroLog.NomeProduto" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
          <label for="quantidade" class="col-form-label">Quantidade:</label>
          <input type="number" class="form-control" id="quantidade" [(ngModel)]="filtroLog.Quantidade" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
          <label for="tipomovimento" class="col-form-label">Tipo de Movimento:</label>
          <input type="text" class="form-control" id="tipomovimento" [(ngModel)]="filtroLog.TipoMovimento" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
          <label for="datamovimento" class="col-form-label">Data de Movimento:</label>
          <input type="date" class="form-control" id="datamovimento" [(ngModel)]="filtroLog.DataMovimento" [ngModelOptions]="{standalone: true}">
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" style="margin-right: 236px;" (click)="limparFiltro()">Limpar</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('fechar')">Fechar</button>
      <button type="button" class="btn btn-primary" (click)="filtrarLancamentos()">Filtrar</button>
    </div>
  </ng-template>