<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h2 class="card-title text-center mb-5 fw-bold fs-5">Login</h2>
                    <form>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="floatingUsername" placeholder="Usuario" [(ngModel)]="loginUser.NomeUsuario" [ngModelOptions]="{standalone: true}">
                            <label for="floatingUsername">Usuario</label>
                        </div>
                        <div class="form-floating mb-5">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Senha" [(ngModel)]="loginUser.Senha" [ngModelOptions]="{standalone: true}">
                            <label for="floatingPassword">Senha</label>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-login text-uppercase fw-bold"
                                type="submit" (click)="fazerLogin()">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>