<div class="container">
    <div id="conteudo">
        <h1>Bem-vindo ao Estoque Fácil: Gerenciamento Simplificado de Inventário</h1>

        <p>Explore todas as funcionalidades poderosas do Estoque Fácil, projetado para tornar a gestão do seu inventário uma experiência intuitiva e eficiente. Nossa plataforma oferece uma variedade de recursos acessíveis através do menu principal:</p>
    
        <h2>1. Estoque:</h2>
        <p>Ao clicar em "Estoque", você terá acesso à tabela detalhada do seu inventário. Aqui, você pode facilmente cadastrar novos produtos, alterar informações existentes e remover itens do estoque. Além disso, nossa plataforma permite o controle preciso do seu inventário, possibilitando entradas e saídas de produtos com apenas alguns cliques.</p>
    
        <h2>2. Lançamentos:</h2>
        <p>A seção "Lançamentos" oferece uma visão abrangente de todas as movimentações do seu estoque. Esta tabela exibe tanto as entradas quanto as saídas de produtos, fornecendo um registro organizado e fácil de entender. Essa funcionalidade é essencial para acompanhar todas as transações realizadas, mantendo você informado sobre as mudanças no seu inventário.</p>
    
        <h2>Como Usar:</h2>
    
        <h3>Estoque:</h3>
        <ul>
            <li><strong>Cadastro:</strong> Clique em "Estoque" e, em seguida, adicione um novo produto através da opção "Adicionar". Preencha as informações necessárias e salve.</li>
            <li><strong>Alteração:</strong> Selecione um produto existente e escolha a opção "Alterar" para fazer modificações conforme necessário.</li>
            <li><strong>Remoção:</strong> Utilize a opção "Remover" para excluir produtos do estoque.</li>
            <li><strong>Entradas e Saídas:</strong> Gerencie a movimentação do estoque através das opções dedicadas.</li>
        </ul>
    
        <h3>Lançamentos:</h3>
        <ul>
            <li><strong>Registro:</strong> Visualize todas as entradas e saídas de produtos na tabela "Lançamentos".</li>
            <li><strong>Detalhes:</strong> Cada linha na tabela fornecerá informações específicas sobre a transação, permitindo uma análise detalhada.</li>
        </ul>
    
        <p>Mantenha seu inventário organizado e eficientemente gerenciado com o Estoque Fácil. Estamos comprometidos em simplificar suas operações diárias, proporcionando uma experiência de gerenciamento de estoque descomplicada e eficaz. Explore as funcionalidades agora e otimize a gestão do seu inventário como nunca antes!</p>
    </div>
</div>
