<div class="modal-header">
    <h1 class="modal-title fs-5">Filtro</h1>
    <button type="button" class="btn-close" (click)="bsModalRef.hide()" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="nomeProduto" class="col-form-label">Nome do Produto:</label>
            <input type="text" class="form-control" id="nomeProduto">
        </div>
        <div class="mb-3">
            <label for="fabricante" class="col-form-label">Fabricante:</label>
            <input type="text" class="form-control" id="fabricante">
        </div>
        <div class="mb-3">
            <label for="quantidade" class="col-form-label">Quantidade de:</label>
            <input type="number" class="form-control" id="quantidade">
        </div>
        <div class="mb-3">
            <label for="quantidade" class="col-form-label">Quantidade ate:</label>
            <input type="number" class="form-control" id="quantidade">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Fechar</button>
    <button type="button" class="btn btn-primary">Filtrar</button>
</div>