<div class="container mt-5">
  <div class="row d-flex align-items-center">
    <div class="col">
      <div class="btn-group mb-3">
        <button type="button" class="btn btn-success btn-cadastro" (click)="openCadastro(modalCadastro)">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
            class="bi bi-file-earmark-plus-fill me-2" viewBox="0 0 16 16">
            <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0" />
          </svg>
          Cadastrar Produto
        </button>
      </div>
    </div>
    <div class="col text-end">
      <div class="btn-group mb-3">
        <button type="button" class="btn btn-outline-success" (click)="openEntrada(modalEntrada)">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
            class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
            <path fill-rule="evenodd"
              d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
          </svg>
          Entrada Produto
        </button>
        <button type="button" class="btn btn-outline-danger" (click)="openSaida(modalSaida)">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
            class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
            <path fill-rule="evenodd"
              d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
          </svg>
          Saída Produto
        </button>
      </div>
    </div>
    <h2 class="text-center">Estoque</h2>
    <div class="btnFiltro">
      <button type="button" class="btn btn-primary btn-sm" (click)="openFiltro(modalFiltro)">
        Filtro
      </button>
    </div>
    <div class="table-container" style="max-height: 600px; overflow-y: auto;">
      <table class="table mx-auto table-bordered table-hover">
        <thead class="cabecalho">
          <tr>
            <th scope="col" style="width: 5%;">ID</th>
            <th scope="col" style="width: 20%;">Nome</th>
            <th scope="col" style="width: 10%;">Fabricante</th>
            <th scope="col" style="width: 10%;">Quantidade</th>
            <th scope="col" style="width: 10%;">Preco Unitario</th>
            <th scope="col" style="width: 11%;">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <th scope="row">{{ produto.id }}</th>
            <td>{{ produto.nomeProduto }}</td>
            <td>{{ produto.fabricante }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>{{ produto.precoUnitario }}</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm" (click)="openEditar(modalEdital, produto.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-pencil-fill" viewBox="0 0 16 16">
                  <path
                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                </svg>
                Editar
              </button>
              <button type="button" class="btn btn-danger btn-sm" (click)="openExcluir(modalExcluir, produto.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-file-earmark-x-fill" viewBox="0 0 16 16">
                  <path
                    d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.854 7.146 8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708" />
                </svg>
                Remover
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #modalExcluir let-modal>
  <div class="modal-confirma">
    <div class="modal-header">
      <h5 class="modal-title" id="modalExcluirLabel">Confirmar exclusão</h5>
      <button type="button" class="btn-close" (click)="modal.close('fechar')" aria-label="Fechar"></button>
    </div>
    <div class="modal-body">
      <p>Tem certeza que deseja excluir o Produto de ID: {{idProduto}}</p>
    </div>
    <div class="modal-footer justify-content-between  ">
      <button type="button" class="btn btn-secondary" (click)="modal.close('fechar')">Cancelar</button>
      <button type="button" class="btn btn-danger" (click)="excluir()">Excluir</button>
    </div>
  </div>
</ng-template>

<ng-template #modalFiltro let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5">Filtro</h1>
    <button type="button" class="btn-close" (click)="modal.close('fechar')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="nomeProduto" class="col-form-label">Nome do Produto:</label>
        <input type="text" class="form-control" id="nomeProduto" [(ngModel)]="filtro.nomeProduto"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
        <label for="fabricante" class="col-form-label">Fabricante:</label>
        <input type="text" class="form-control" id="fabricante" [(ngModel)]="filtro.fabricante"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
        <label for="quantidade" class="col-form-label">Quantidade de:</label>
        <input type="number" class="form-control" id="quantidade" [(ngModel)]="filtro.quantidadeDe"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
        <label for="quantidade" class="col-form-label">Quantidade ate:</label>
        <input type="number" class="form-control" id="quantidade" [(ngModel)]="filtro.quantidadeAte"
          [ngModelOptions]="{standalone: true}">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" style="margin-right: 236px;" (click)="limparFiltro()">Limpar</button>
    <button type="button" class="btn btn-secondary" (click)="modal.close('fechar')">Fechar</button>
    <button type="button" class="btn btn-primary" (click)="filtrarProdutos()">Filtrar</button>
  </div>
</ng-template>

<ng-template #modalCadastro let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5">Novo Produto</h1>
    <button type="button" class="btn-close" (click)="modal.close('fechar')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="nomeProduto" class="col-form-label">Nome do Produto:</label>
        <input [(ngModel)]="novoProduto.NomeProduto" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
          id="nomeProduto">
      </div>
      <div class="mb-3">
        <label for="fabricante" class="col-form-label">Fabricante:</label>
        <input [(ngModel)]="novoProduto.Fabricante" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
          id="fabricante">
      </div>
      <div class="mb-3">
        <label for="quantidade" class="col-form-label">Quantidade:</label>
        <input [(ngModel)]="novoProduto.Quantidade" [ngModelOptions]="{standalone: true}" type="number" class="form-control"
          id="quantidade">
      </div>
      <div class="mb-3">
        <label for="precoUnitario" class="col-form-label">Preço Unitário:</label>
        <input [(ngModel)]="novoProduto.PrecoUnitario" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
          id="precoUnitario">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('fechar')">Fechar</button>
    <button type="button" class="btn btn-primary" (click)="cadastrar()">Salvar</button>
  </div>
</ng-template>

<ng-template #modalEntrada let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5">Registrar Entrada de Produto</h1>
    <button type="button" class="btn-close" (click)="modal.close('fechar')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form>
        <div class="mb-3">
          <label for="produtoId" class="col-form-label">Id do Produto:</label>
          <input type="text" class="form-control" id="produtoId" [(ngModel)]="entrada.produtoId" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="mb-3">
          <label for="quantidade" class="col-form-label">Quantidade:</label>
          <input type="number" class="form-control" id="quantidade" [(ngModel)]="entrada.quantidade" [ngModelOptions]="{standalone: true}">
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('fechar')">Fechar</button>
    <button type="button" class="btn btn-success"(click)="registrarEntrada()">Registrar Entrada</button>
  </div>
</ng-template>

<ng-template #modalSaida let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5">Registrar Saída de Produto</h1>
    <button type="button" class="btn-close" (click)="modal.close('fechar')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="produtoId" class="col-form-label">Id do Produto:</label>
            <input type="text" class="form-control" id="produtoId" [(ngModel)]="saida.produtoId" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="mb-3">
            <label for="quantidade" class="col-form-label">Quantidade:</label>
            <input type="number" class="form-control" id="quantidade" [(ngModel)]="saida.quantidade" [ngModelOptions]="{standalone: true}">
          </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('fechar')">Fechar</button>
    <button type="button" class="btn btn-danger"(click)="registrarSaida()">Registrar Saída</button>
  </div>
</ng-template>

<ng-template #modalEdital let-modal>
  <div class="modal-header">
    <h1 class="modal-title fs-5">Novo Produto</h1>
    <button type="button" class="btn-close" (click)="modal.close('fechar')" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="id" class="col-form-label">ID do Produto</label>
        <input type="text" class="form-control" id="id" readonly [(ngModel)]="produtoEditar.id" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
        <label for="nomeProduto" class="col-form-label">Nome do Produto:</label>
        <input type="text" class="form-control" id="nomeProduto" [(ngModel)]="produtoEditar.nomeProduto"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
        <label for="fabricante" class="col-form-label">Fabricante:</label>
        <input type="text" class="form-control" id="fabricante" [(ngModel)]="produtoEditar.fabricante"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
        <label for="quantidade" class="col-form-label">Quantidade:</label>
        <input type="number" class="form-control" id="quantidade" [(ngModel)]="produtoEditar.quantidade"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="mb-3">
        <label for="precoUnitario" class="col-form-label">Preço Unitário:</label>
        <input type="text" class="form-control" id="precoUnitario" [(ngModel)]="produtoEditar.precoUnitario"
          [ngModelOptions]="{standalone: true}">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('fechar')">Fechar</button>
    <button type="button" class="btn btn-primary" (click)="salvarAlteracoes()">Salvar</button>
  </div>
</ng-template>