<div class="container mt-5">
  <div class="row d-flex align-items-center">
      <div class="col">
          <h2 class="text-center">Estoque</h2>
          <div class="table-container" style="max-height: 600px; overflow-y: auto;">
              <table class="table mx-auto table-bordered">
                  <thead>
                      <tr>
                          <th scope="col">ID</th>
                          <th scope="col">Nome</th>
                          <th scope="col">Fabricante</th>
                          <th scope="col">Quantidade</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Item 1</td>
                      <td>Descrição do Item 1</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Item 1</td>
                      <td>Descrição do Item 1</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Item 1</td>
                      <td>Descrição do Item 1</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Item 1</td>
                      <td>Descrição do Item 1</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Item 1</td>
                      <td>Descrição do Item 1</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Item 1</td>
                      <td>Descrição do Item 1</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Item 1</td>
                      <td>Descrição do Item 1</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Item 1</td>
                      <td>Descrição do Item 1</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Item 1</td>
                      <td>Descrição do Item 1</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Item 1</td>
                      <td>Descrição do Item 1</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <th scope="row">1</th>
                      <td>Item 1</td>
                      <td>Descrição do Item 1</td>
                      <td>10</td>
                    </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>