<div class="modal-header">
    <h1 class="modal-title fs-5">Registrar Saída de Produto</h1>
    <button type="button" class="btn-close" (click)="bsModalRef.hide()" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form>
        <div class="mb-3">
            <label for="produtoId" class="col-form-label">Id do Produto:</label>
            <input type="text" class="form-control" id="produtoId" [(ngModel)]="entrada.produtoId" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="mb-3">
            <label for="quantidade" class="col-form-label">Quantidade:</label>
            <input type="number" class="form-control" id="quantidade" [(ngModel)]="entrada.quantidade" [ngModelOptions]="{standalone: true}">
          </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Fechar</button>
    <button type="button" class="btn btn-danger"(click)="registrarSaida()">Registrar Saída</button>
  </div>
